In [1]:
import numpy as np
import pandas as pd
import pickle

In [2]:
history=pd.read_csv('full_avg_history.csv').drop(columns=['Unnamed: 0']).set_index('name')

In [3]:
history.sort_index(inplace=True)

In [5]:
history.index.unique()

Index(['Aaron Cresswell', 'Aaron Hunt', 'Aaron Lennon', 'Aaron Mooy',
       'Aaron Ramsey', 'Abdallah Ndour', 'Abdelhamid Sabiri', 'Abdou Diallo',
       'Abdoul Camara', 'Abdoulaye Bamba',
       ...
       'Yuri Berchiche', 'Yussuf Poulsen', 'Yuto Nagatomo', 'Yuya Osako',
       'Yves Bissouma', 'Zakaria Bakkali', 'Zaydou Youssouf',
       'Zlatan Ibrahimovic', 'Zlatko Junuzovic', 'Zouhair Feddal'],
      dtype='object', name='name', length=1725)

In [6]:
len(history)

1775

In [9]:
history.columns

Index(['Min', 'Sh', 'SoT', 'Touches', 'Press', 'Tkl', 'Int', 'Blocks', 'xG',
       'npxG', 'xA', 'SCA', 'GCA', 'Cmp', 'Att', 'Cmp%', 'PrgDist', 'Carries',
       'PrgDist.1', 'Succ', 'Att.1', 'injured games'],
      dtype='object')

In [10]:
cols_to_average=['Min', 'Sh', 'SoT', 'Touches', 'Press', 'Tkl', 'Int', 'Blocks', 'xG',
       'npxG', 'xA', 'SCA', 'GCA', 'Cmp', 'Att', 'Cmp%', 'PrgDist', 'Carries',
       'PrgDist.1', 'Succ', 'Att.1']

In [15]:
history_fixed = history.groupby('name').agg({'Min':'mean', 'Sh':'mean', 'SoT':'mean', 'Touches':'mean', 'Press':'mean',
                             'Tkl':'mean', 'Int':'mean', 'Blocks':'mean', 'xG':'mean', 'npxG':'mean',
                             'xA':'mean', 'SCA':'mean', 'GCA':'mean', 'Cmp':'mean', 'Att':'mean',
                             'Cmp%':'mean', 'PrgDist':'mean', 'Carries':'mean', 'PrgDist.1':'mean',
                             'Succ':'mean', 'Att.1':'mean','injured games':'sum'})

In [16]:
history_fixed.to_csv('full_avg_history2.csv')

In [17]:
pd.read_csv('full_avg_history2.csv')

,name,Min,Sh,SoT,Touches,Press,Tkl,Int,Blocks,xG,...,GCA,Cmp,Att,Cmp%,PrgDist,Carries,PrgDist.1,Succ,Att.1,injured games
0,Aaron Cresswell,90.0,0.811304,0.166667,60.689323,10.446513,1.038012,1.433068,1.978930,0.016730,...,0.255117,36.504045,51.864903,69.366667,303.183882,34.593704,87.672627,0.166667,0.449561,13
1,Aaron Hunt,90.0,1.055324,0.223477,62.842944,20.795625,1.306299,0.954395,1.181734,0.114063,...,0.220065,37.762300,52.560578,71.031034,228.642751,38.448145,99.919914,0.896461,1.510053,3
2,Aaron Lennon,90.0,0.953701,0.249180,36.962503,17.870915,2.036714,0.986153,2.294933,0.078239,...,0.829409,16.621978,24.721263,67.320000,65.526326,23.518295,89.745861,0.932138,1.796583,0
3,Aaron Mooy,90.0,0.860075,0.153846,72.508033,16.738697,2.378954,1.168970,1.691693,0.058974,...,0.188934,46.769622,62.109837,73.828205,234.692950,46.450938,106.612856,0.455228,0.768464,0
4,Aaron Ramsey,90.0,2.936877,1.271377,74.383348,16.396221,1.466667,1.104977,0.963043,0.284746,...,0.766050,51.287759,61.979144,82.470833,224.301321,57.425697,166.864601,1.105970,1.866387,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1720,Zakaria Bakkali,90.0,3.147325,0.488235,52.095581,17.157494,0.908058,1.001135,0.612514,0.119833,...,0.146949,26.576932,36.798134,70.750000,92.379663,45.576690,186.924052,2.403993,3.283788,0
1721,Zaydou Youssouf,90.0,1.106101,0.000000,103.811141,31.368700,6.413793,4.292308,0.206897,0.020690,...,0.206897,36.741645,56.651459,65.840000,131.446154,70.099735,444.007958,0.620690,8.926790,0
1722,Zlatan Ibrahimovic,90.0,4.529666,2.390155,74.247398,16.447342,3.079001,0.176471,0.411765,0.469508,...,0.294118,42.526866,60.142770,65.317647,197.307217,47.840559,151.503182,0.470588,1.435786,10
1723,Zlatko Junuzovic,90.0,3.364339,0.573782,61.561765,22.664881,2.382335,1.336959,1.265692,0.565731,...,0.209738,34.673899,48.599733,69.779167,215.849386,35.956088,110.141036,0.437199,1.128884,1
1724,Zouhair Feddal,90.0,0.575758,0.200000,69.073106,7.095455,1.296591,2.684848,2.175000,0.033333,...,0.000000,45.850758,57.813636,79.646667,353.625000,44.948485,147.556061,0.375758,0.442424,0

In [7]:
indexlist = history.index.tolist()

In [11]:
indexlist[2]

'Aaron Mooy'

In [27]:
ENGdata = pd.read_csv('fbref_alldata.csv').drop(columns=['Unnamed: 0']).dropna()

In [29]:
ENGdata.head(10)

,name,Round,Min,Sh,SoT,Touches,Press,Tkl,Int,Blocks,...,SCA,GCA,Cmp,Att,Cmp%,PrgDist,Carries,PrgDist.1,Succ,Att.1
0,Kevin-De-Bruyne-,Matchweek 1,90,4,1,99,22,1,0,3,...,2,1,72,88,81.8,310,70,266,3,4
1,Kevin-De-Bruyne-,Matchweek 2,90,3,1,80,31,1,1,1,...,7,0,53,70,75.7,344,60,189,0,1
2,Kevin-De-Bruyne-,Matchweek 3,90,0,0,106,4,2,1,0,...,5,0,81,99,81.8,471,79,307,2,2
5,Kevin-De-Bruyne-,Matchweek 4,90,2,1,68,32,1,1,1,...,6,3,47,60,78.3,350,47,138,1,2
7,Kevin-De-Bruyne-,Matchweek 5,66,3,1,81,13,3,1,2,...,9,2,55,67,82.1,393,59,119,1,1
9,Kevin-De-Bruyne-,Matchweek 6,90,0,0,105,7,0,1,0,...,6,2,78,94,83.0,474,75,317,2,3
11,Kevin-De-Bruyne-,Matchweek 7,90,2,2,82,7,1,1,3,...,9,1,59,72,81.9,490,47,166,1,1
14,Kevin-De-Bruyne-,Matchweek 8,66,2,2,57,13,0,2,1,...,6,5,45,53,84.9,268,52,184,0,0
16,Kevin-De-Bruyne-,Matchweek 9,80,2,2,75,8,0,0,1,...,8,2,59,71,83.1,302,67,258,1,2
18,Kevin-De-Bruyne-,Matchweek 10,90,4,0,154,19,2,2,1,...,2,0,122,137,89.1,551,133,312,0,0

In [4]:
ENGdata.SoT.unique()

array(['1', '0', '2', '4', 'On matchday squad, but did not play', '3',
       '6', '0.0', '1.0', '2.0', '5', '4.0', '3.0', '5.0'], dtype=object)

In [30]:
ENGdata['SoT'] = pd.to_numeric(ENGdata['SoT'], errors = 'coerce')

In [31]:
ENGdata.head(10)

,name,Round,Min,Sh,SoT,Touches,Press,Tkl,Int,Blocks,...,SCA,GCA,Cmp,Att,Cmp%,PrgDist,Carries,PrgDist.1,Succ,Att.1
0,Kevin-De-Bruyne-,Matchweek 1,90,4,1.0,99,22,1,0,3,...,2,1,72,88,81.8,310,70,266,3,4
1,Kevin-De-Bruyne-,Matchweek 2,90,3,1.0,80,31,1,1,1,...,7,0,53,70,75.7,344,60,189,0,1
2,Kevin-De-Bruyne-,Matchweek 3,90,0,0.0,106,4,2,1,0,...,5,0,81,99,81.8,471,79,307,2,2
5,Kevin-De-Bruyne-,Matchweek 4,90,2,1.0,68,32,1,1,1,...,6,3,47,60,78.3,350,47,138,1,2
7,Kevin-De-Bruyne-,Matchweek 5,66,3,1.0,81,13,3,1,2,...,9,2,55,67,82.1,393,59,119,1,1
9,Kevin-De-Bruyne-,Matchweek 6,90,0,0.0,105,7,0,1,0,...,6,2,78,94,83.0,474,75,317,2,3
11,Kevin-De-Bruyne-,Matchweek 7,90,2,2.0,82,7,1,1,3,...,9,1,59,72,81.9,490,47,166,1,1
14,Kevin-De-Bruyne-,Matchweek 8,66,2,2.0,57,13,0,2,1,...,6,5,45,53,84.9,268,52,184,0,0
16,Kevin-De-Bruyne-,Matchweek 9,80,2,2.0,75,8,0,0,1,...,8,2,59,71,83.1,302,67,258,1,2
18,Kevin-De-Bruyne-,Matchweek 10,90,4,0.0,154,19,2,2,1,...,2,0,122,137,89.1,551,133,312,0,0

In [32]:
ENGdata.dropna(inplace=True)

In [33]:
ENGdata.head(10)

,name,Round,Min,Sh,SoT,Touches,Press,Tkl,Int,Blocks,...,SCA,GCA,Cmp,Att,Cmp%,PrgDist,Carries,PrgDist.1,Succ,Att.1
0,Kevin-De-Bruyne-,Matchweek 1,90,4,1.0,99,22,1,0,3,...,2,1,72,88,81.8,310,70,266,3,4
1,Kevin-De-Bruyne-,Matchweek 2,90,3,1.0,80,31,1,1,1,...,7,0,53,70,75.7,344,60,189,0,1
2,Kevin-De-Bruyne-,Matchweek 3,90,0,0.0,106,4,2,1,0,...,5,0,81,99,81.8,471,79,307,2,2
5,Kevin-De-Bruyne-,Matchweek 4,90,2,1.0,68,32,1,1,1,...,6,3,47,60,78.3,350,47,138,1,2
7,Kevin-De-Bruyne-,Matchweek 5,66,3,1.0,81,13,3,1,2,...,9,2,55,67,82.1,393,59,119,1,1
9,Kevin-De-Bruyne-,Matchweek 6,90,0,0.0,105,7,0,1,0,...,6,2,78,94,83.0,474,75,317,2,3
11,Kevin-De-Bruyne-,Matchweek 7,90,2,2.0,82,7,1,1,3,...,9,1,59,72,81.9,490,47,166,1,1
14,Kevin-De-Bruyne-,Matchweek 8,66,2,2.0,57,13,0,2,1,...,6,5,45,53,84.9,268,52,184,0,0
16,Kevin-De-Bruyne-,Matchweek 9,80,2,2.0,75,8,0,0,1,...,8,2,59,71,83.1,302,67,258,1,2
18,Kevin-De-Bruyne-,Matchweek 10,90,4,0.0,154,19,2,2,1,...,2,0,122,137,89.1,551,133,312,0,0

In [34]:
len(ENGdata)

10420

In [35]:
ENGdata.SoT.unique()

array([1., 0., 2., 4., 3., 6., 5.])

In [36]:
ENGdata.Min.unique()

array(['90', '66', '80', '89', '77', '74', '79', '78', '18', '65', '67',
       '71', '81', '26', '73', '5', '58', '30', '24', '43', '72', '61',
       '12', '45', '29', '84', '33', '86', '85', '64', '68', '76', '16',
       '39', '87', '22', '69', '8', '88', '7', '83', '62', '82', '14',
       '54', '20', '31', '75', '57', '59', '27', '63', '28', '10', '32',
       '23', '3', '11', '70', '9', '21', '25', '6', '2', '19', '4', '17',
       '1', '13', '51', '15', '40', '50', '60', '36', '34', '13.0',
       '23.0', '74.0', '7.0', '14.0', '77.0', '16.0', '3.0', '20.0',
       '10.0', '19.0', '66.0', '56.0', '88.0', '64.0', '8.0', '78.0',
       '37', '42', '55', '56', '35', '90.0', '45.0', '67.0', '73.0',
       '75.0', '18.0', '85.0', '71.0', '53', '41', '49', '52', '38', '47',
       '28.0', '72.0', '61.0', '48', '31.0', '82.0', '26.0', '54.0',
       '33.0', '6.0', '12.0', '89.0', '70.0', '1.0', '17.0', '80.0',
       '86.0', '25.0', '44.0', '79.0', '65.0', '39.0', '5.0', '32.0',
       '63.0', '69.0', '59.0', '76.0', '58.0', '9.0', '30.0', '41.0',
       '84.0', '68.0', '35.0', '46', '29.0', '49.0', '81.0', '11.0',
       '55.0', '60.0', '34.0', '57.0', '21.0', '2.0'], dtype=object)

In [37]:
ENGdata.columns

Index(['name', 'Round', 'Min', 'Sh', 'SoT', 'Touches', 'Press', 'Tkl', 'Int',
       'Blocks', 'xG', 'npxG', 'xA', 'SCA', 'GCA', 'Cmp', 'Att', 'Cmp%',
       'PrgDist', 'Carries', 'PrgDist.1', 'Succ', 'Att.1'],
      dtype='object')

In [127]:
numeric_columns=['Min', 'Sh', 'SoT', 'Touches', 'Press', 'Tkl', 'Int',
       'Blocks', 'xG', 'npxG', 'xA', 'SCA', 'GCA', 'Cmp', 'Att', 'Cmp%',
       'PrgDist', 'Carries', 'PrgDist.1', 'Succ', 'Att.1']

In [132]:
absolute_columns=numeric_columns.copy()

absolute_columns.remove('Cmp%')
absolute_columns

['Min',
 'Sh',
 'SoT',
 'Touches',
 'Press',
 'Tkl',
 'Int',
 'Blocks',
 'xG',
 'npxG',
 'xA',
 'SCA',
 'GCA',
 'Cmp',
 'Att',
 'PrgDist',
 'Carries',
 'PrgDist.1',
 'Succ',
 'Att.1']

In [41]:
ENGdata[numeric_columns] = ENGdata[numeric_columns].apply(pd.to_numeric, errors='coerce')

In [42]:
ENGdata.head(10)

,name,Round,Min,Sh,SoT,Touches,Press,Tkl,Int,Blocks,...,SCA,GCA,Cmp,Att,Cmp%,PrgDist,Carries,PrgDist.1,Succ,Att.1
0,Kevin-De-Bruyne-,Matchweek 1,90.0,4.0,1.0,99.0,22.0,1.0,0.0,3.0,...,2.0,1.0,72.0,88.0,81.8,310.0,70.0,266.0,3.0,4.0
1,Kevin-De-Bruyne-,Matchweek 2,90.0,3.0,1.0,80.0,31.0,1.0,1.0,1.0,...,7.0,0.0,53.0,70.0,75.7,344.0,60.0,189.0,0.0,1.0
2,Kevin-De-Bruyne-,Matchweek 3,90.0,0.0,0.0,106.0,4.0,2.0,1.0,0.0,...,5.0,0.0,81.0,99.0,81.8,471.0,79.0,307.0,2.0,2.0
5,Kevin-De-Bruyne-,Matchweek 4,90.0,2.0,1.0,68.0,32.0,1.0,1.0,1.0,...,6.0,3.0,47.0,60.0,78.3,350.0,47.0,138.0,1.0,2.0
7,Kevin-De-Bruyne-,Matchweek 5,66.0,3.0,1.0,81.0,13.0,3.0,1.0,2.0,...,9.0,2.0,55.0,67.0,82.1,393.0,59.0,119.0,1.0,1.0
9,Kevin-De-Bruyne-,Matchweek 6,90.0,0.0,0.0,105.0,7.0,0.0,1.0,0.0,...,6.0,2.0,78.0,94.0,83.0,474.0,75.0,317.0,2.0,3.0
11,Kevin-De-Bruyne-,Matchweek 7,90.0,2.0,2.0,82.0,7.0,1.0,1.0,3.0,...,9.0,1.0,59.0,72.0,81.9,490.0,47.0,166.0,1.0,1.0
14,Kevin-De-Bruyne-,Matchweek 8,66.0,2.0,2.0,57.0,13.0,0.0,2.0,1.0,...,6.0,5.0,45.0,53.0,84.9,268.0,52.0,184.0,0.0,0.0
16,Kevin-De-Bruyne-,Matchweek 9,80.0,2.0,2.0,75.0,8.0,0.0,0.0,1.0,...,8.0,2.0,59.0,71.0,83.1,302.0,67.0,258.0,1.0,2.0
18,Kevin-De-Bruyne-,Matchweek 10,90.0,4.0,0.0,154.0,19.0,2.0,2.0,1.0,...,2.0,0.0,122.0,137.0,89.1,551.0,133.0,312.0,0.0,0.0

In [43]:
ENGdata[absolute_columns] = ENGdata[absolute_columns].div(ENGdata.Min/90, axis=0)

In [44]:
ENGdata.head(10)

,name,Round,Min,Sh,SoT,Touches,Press,Tkl,Int,Blocks,...,SCA,GCA,Cmp,Att,Cmp%,PrgDist,Carries,PrgDist.1,Succ,Att.1
0,Kevin-De-Bruyne-,Matchweek 1,90.0,4.000000,1.000000,99.000000,22.000000,1.000000,0.000000,3.000000,...,2.000000,1.000000,72.000000,88.000000,81.8,310.000000,70.000000,266.000000,3.000000,4.000000
1,Kevin-De-Bruyne-,Matchweek 2,90.0,3.000000,1.000000,80.000000,31.000000,1.000000,1.000000,1.000000,...,7.000000,0.000000,53.000000,70.000000,75.7,344.000000,60.000000,189.000000,0.000000,1.000000
2,Kevin-De-Bruyne-,Matchweek 3,90.0,0.000000,0.000000,106.000000,4.000000,2.000000,1.000000,0.000000,...,5.000000,0.000000,81.000000,99.000000,81.8,471.000000,79.000000,307.000000,2.000000,2.000000
5,Kevin-De-Bruyne-,Matchweek 4,90.0,2.000000,1.000000,68.000000,32.000000,1.000000,1.000000,1.000000,...,6.000000,3.000000,47.000000,60.000000,78.3,350.000000,47.000000,138.000000,1.000000,2.000000
7,Kevin-De-Bruyne-,Matchweek 5,90.0,4.090909,1.363636,110.454545,17.727273,4.090909,1.363636,2.727273,...,12.272727,2.727273,75.000000,91.363636,82.1,535.909091,80.454545,162.272727,1.363636,1.363636
9,Kevin-De-Bruyne-,Matchweek 6,90.0,0.000000,0.000000,105.000000,7.000000,0.000000,1.000000,0.000000,...,6.000000,2.000000,78.000000,94.000000,83.0,474.000000,75.000000,317.000000,2.000000,3.000000
11,Kevin-De-Bruyne-,Matchweek 7,90.0,2.000000,2.000000,82.000000,7.000000,1.000000,1.000000,3.000000,...,9.000000,1.000000,59.000000,72.000000,81.9,490.000000,47.000000,166.000000,1.000000,1.000000
14,Kevin-De-Bruyne-,Matchweek 8,90.0,2.727273,2.727273,77.727273,17.727273,0.000000,2.727273,1.363636,...,8.181818,6.818182,61.363636,72.272727,84.9,365.454545,70.909091,250.909091,0.000000,0.000000
16,Kevin-De-Bruyne-,Matchweek 9,90.0,2.250000,2.250000,84.375000,9.000000,0.000000,0.000000,1.125000,...,9.000000,2.250000,66.375000,79.875000,83.1,339.750000,75.375000,290.250000,1.125000,2.250000
18,Kevin-De-Bruyne-,Matchweek 10,90.0,4.000000,0.000000,154.000000,19.000000,2.000000,2.000000,1.000000,...,2.000000,0.000000,122.000000,137.000000,89.1,551.000000,133.000000,312.000000,0.000000,0.000000

In [45]:
ENGaverage=ENGdata[ENGdata.Min>=15.0].drop(columns=['Round']).groupby('name').mean()

In [46]:
ENGaverage.head(10)

,Min,Sh,SoT,Touches,Press,Tkl,Int,Blocks,xG,npxG,...,SCA,GCA,Cmp,Att,Cmp%,PrgDist,Carries,PrgDist.1,Succ,Att.1
name,,,,,,,,,,,,,,,,,,,,,
Aaron-Cresswell-,90.0,0.811304,0.166667,60.689323,10.446513,1.038012,1.433068,1.978930,0.016730,0.016730,...,2.177532,0.255117,36.504045,51.864903,69.366667,303.183882,34.593704,87.672627,0.166667,0.449561
Aaron-Lennon-,90.0,0.953701,0.249180,36.962503,17.870915,2.036714,0.986153,2.294933,0.078239,0.078239,...,3.049544,0.829409,16.621978,24.721263,67.320000,65.526326,23.518295,89.745861,0.932138,1.796583
Aaron-Mooy-,90.0,0.860075,0.153846,72.508033,16.738697,2.378954,1.168970,1.691693,0.058974,0.038462,...,2.190738,0.188934,46.769622,62.109837,73.828205,234.692950,46.450938,106.612856,0.455228,0.768464
Aaron-Ramsey-,90.0,2.936877,1.271377,74.383348,16.396221,1.466667,1.104977,0.963043,0.284746,0.284746,...,3.395792,0.766050,51.287759,61.979144,82.470833,224.301321,57.425697,166.864601,1.105970,1.866387
Aaron-Wan-Bissaka-,90.0,0.000000,0.000000,56.396104,12.175325,3.577922,2.288961,5.162338,0.000000,0.000000,...,1.000000,0.000000,26.444805,39.487013,61.928571,246.272727,26.750000,132.795455,1.146104,1.574675
Abdelhamid-Sabiri-,90.0,3.811630,0.000000,52.087132,14.967127,3.041379,0.219512,1.705226,0.090640,0.090640,...,1.945428,0.219512,21.694701,35.390917,60.240000,80.311642,29.268917,72.698018,0.285714,2.685714
Abdoulaye-Doucoure-,90.0,1.324324,0.486486,71.731320,17.389507,1.756757,1.596184,1.648649,0.075676,0.075676,...,2.060413,0.081081,50.543720,61.125596,82.467568,221.246423,49.096979,154.534181,0.810811,1.351351
Adam-Lallana-,90.0,3.600212,0.000000,148.996604,36.232478,0.545455,0.479757,2.751911,0.524481,0.524481,...,4.557155,0.247253,94.488980,117.235903,77.938462,314.965268,109.539556,319.829608,5.076323,5.967932
Adam-Smith-,90.0,0.518519,0.148148,61.769545,14.431608,2.030733,1.289992,2.674721,0.022222,0.022222,...,1.605848,0.185185,38.224039,48.732126,76.677778,192.004658,38.714715,159.413811,1.148148,1.859259
Ademola-Lookman-,90.0,2.027635,0.797581,61.430133,18.848875,0.672581,0.664286,0.973508,0.226557,0.226557,...,3.350350,0.550004,38.486160,47.109513,75.610000,126.186979,53.390290,443.311122,2.696223,5.086740

In [47]:
ENGaverage.to_csv('ENGaverage.csv')

In [48]:
pd.read_csv('ENGaverage.csv').head()

,name,Min,Sh,SoT,Touches,Press,Tkl,Int,Blocks,xG,...,SCA,GCA,Cmp,Att,Cmp%,PrgDist,Carries,PrgDist.1,Succ,Att.1
0,Aaron-Cresswell-,90.0,0.811304,0.166667,60.689323,10.446513,1.038012,1.433068,1.978930,0.016730,...,2.177532,0.255117,36.504045,51.864903,69.366667,303.183882,34.593704,87.672627,0.166667,0.449561
1,Aaron-Lennon-,90.0,0.953701,0.249180,36.962503,17.870915,2.036714,0.986153,2.294933,0.078239,...,3.049544,0.829409,16.621978,24.721263,67.320000,65.526326,23.518295,89.745861,0.932138,1.796583
2,Aaron-Mooy-,90.0,0.860075,0.153846,72.508033,16.738697,2.378954,1.168970,1.691693,0.058974,...,2.190738,0.188934,46.769622,62.109837,73.828205,234.692950,46.450938,106.612856,0.455228,0.768464
3,Aaron-Ramsey-,90.0,2.936877,1.271377,74.383348,16.396221,1.466667,1.104977,0.963043,0.284746,...,3.395792,0.766050,51.287759,61.979144,82.470833,224.301321,57.425697,166.864601,1.105970,1.866387
4,Aaron-Wan-Bissaka-,90.0,0.000000,0.000000,56.396104,12.175325,3.577922,2.288961,5.162338,0.000000,...,1.000000,0.000000,26.444805,39.487013,61.928571,246.272727,26.750000,132.795455,1.146104,1.574675

In [57]:
ESPdata = pd.read_csv('fbref_ESPalldata.csv').drop(columns=['Unnamed: 0']).dropna()

In [58]:
ESPdata.head()

,name,Round,Min,Sh,SoT,Touches,Press,Tkl,Int,Blocks,...,SCA,GCA,Cmp,Att,Cmp%,PrgDist,Carries,PrgDist.1,Succ,Att.1
2,Lionel-Messi-,Matchweek 1,90,10,1,84,14,0,0,2,...,6,1,48,63,76.2,195,67,263,7,11
3,Lionel-Messi-,Matchweek 2,90,9,5,89,18,0,0,1,...,8,0,55,67,82.1,284,80,229,6,9
6,Lionel-Messi-,Matchweek 3,90,8,3,77,13,1,1,1,...,8,2,48,61,78.7,324,63,280,8,10
8,Lionel-Messi-,Matchweek 4,90,3,1,65,13,0,0,2,...,3,1,38,54,70.4,209,61,172,7,8
9,Lionel-Messi-,Matchweek 5,90,7,6,57,12,0,0,0,...,5,4,32,41,78.0,220,50,306,4,6

In [59]:
ESPdata['SoT'] = pd.to_numeric(ESPdata['SoT'], errors = 'coerce')

In [60]:
ESPdata.dropna(inplace=True)

In [61]:
ESPdata[numeric_columns] = ESPdata[numeric_columns].apply(pd.to_numeric, errors='coerce')

In [62]:
ESPdata.head()

,name,Round,Min,Sh,SoT,Touches,Press,Tkl,Int,Blocks,...,SCA,GCA,Cmp,Att,Cmp%,PrgDist,Carries,PrgDist.1,Succ,Att.1
2,Lionel-Messi-,Matchweek 1,90.0,10.0,1.0,84.0,14.0,0.0,0.0,2.0,...,6.0,1.0,48.0,63.0,76.2,195.0,67.0,263.0,7.0,11.0
3,Lionel-Messi-,Matchweek 2,90.0,9.0,5.0,89.0,18.0,0.0,0.0,1.0,...,8.0,0.0,55.0,67.0,82.1,284.0,80.0,229.0,6.0,9.0
6,Lionel-Messi-,Matchweek 3,90.0,8.0,3.0,77.0,13.0,1.0,1.0,1.0,...,8.0,2.0,48.0,61.0,78.7,324.0,63.0,280.0,8.0,10.0
8,Lionel-Messi-,Matchweek 4,90.0,3.0,1.0,65.0,13.0,0.0,0.0,2.0,...,3.0,1.0,38.0,54.0,70.4,209.0,61.0,172.0,7.0,8.0
9,Lionel-Messi-,Matchweek 5,90.0,7.0,6.0,57.0,12.0,0.0,0.0,0.0,...,5.0,4.0,32.0,41.0,78.0,220.0,50.0,306.0,4.0,6.0

In [63]:
ESPdata[absolute_columns] = ESPdata[absolute_columns].div(ESPdata.Min/90, axis=0)

In [64]:
ESPdata.head(10)

,name,Round,Min,Sh,SoT,Touches,Press,Tkl,Int,Blocks,...,SCA,GCA,Cmp,Att,Cmp%,PrgDist,Carries,PrgDist.1,Succ,Att.1
2,Lionel-Messi-,Matchweek 1,90.0,10.0,1.0,84.0,14.0,0.0,0.0,2.0,...,6.0,1.0,48.0,63.0,76.2,195.0,67.0,263.0,7.0,11.0
3,Lionel-Messi-,Matchweek 2,90.0,9.0,5.0,89.0,18.0,0.0,0.0,1.0,...,8.0,0.0,55.0,67.0,82.1,284.0,80.0,229.0,6.0,9.0
6,Lionel-Messi-,Matchweek 3,90.0,8.0,3.0,77.0,13.0,1.0,1.0,1.0,...,8.0,2.0,48.0,61.0,78.7,324.0,63.0,280.0,8.0,10.0
8,Lionel-Messi-,Matchweek 4,90.0,3.0,1.0,65.0,13.0,0.0,0.0,2.0,...,3.0,1.0,38.0,54.0,70.4,209.0,61.0,172.0,7.0,8.0
9,Lionel-Messi-,Matchweek 5,90.0,7.0,6.0,57.0,12.0,0.0,0.0,0.0,...,5.0,4.0,32.0,41.0,78.0,220.0,50.0,306.0,4.0,6.0
10,Lionel-Messi-,Matchweek 6,90.0,3.0,2.0,53.0,11.0,0.0,0.0,0.0,...,7.0,2.0,32.0,42.0,76.2,179.0,44.0,86.0,3.0,4.0
12,Lionel-Messi-,Matchweek 7,90.0,10.0,6.0,65.0,22.0,2.0,0.0,0.0,...,9.0,2.0,36.0,48.0,75.0,319.0,64.0,299.0,9.0,11.0
15,Lionel-Messi-,Matchweek 8,90.0,6.0,2.0,71.0,7.0,0.0,1.0,0.0,...,7.0,0.0,41.0,52.0,78.8,212.0,72.0,329.0,9.0,15.0
17,Lionel-Messi-,Matchweek 9,90.0,3.0,1.0,64.0,11.0,0.0,0.0,1.0,...,5.0,1.0,38.0,48.0,79.2,137.0,63.0,285.0,6.0,9.0
19,Lionel-Messi-,Matchweek 10,90.0,4.0,2.0,65.0,12.0,0.0,0.0,1.0,...,10.0,1.0,36.0,47.0,76.6,205.0,62.0,310.0,7.0,10.0

In [65]:
ESPaverage=ESPdata[ESPdata.Min>=15.0].drop(columns=['Round']).groupby('name').mean()

In [66]:
ESPaverage.head()

,Min,Sh,SoT,Touches,Press,Tkl,Int,Blocks,xG,npxG,...,SCA,GCA,Cmp,Att,Cmp%,PrgDist,Carries,PrgDist.1,Succ,Att.1
name,,,,,,,,,,,,,,,,,,,,,
Aaron-Martin-,90.0,0.156250,0.062500,51.702410,12.358047,1.381944,1.659722,1.854167,0.003125,0.003125,...,1.738971,0.093750,32.349060,43.907884,73.040625,203.187296,31.765727,112.448529,1.250000,1.531250
Achraf-Hakimi-,90.0,0.530303,0.333333,62.329483,18.736463,1.916667,1.083333,1.569921,0.041667,0.041667,...,1.530303,0.083333,42.750869,52.252608,81.833333,241.901267,46.178589,158.885370,2.473174,3.223174
Adalberto-Penaranda-,90.0,2.183856,0.746955,43.354437,21.845374,1.816828,0.000000,1.480026,0.092721,0.092721,...,2.895018,0.000000,21.042430,26.689747,79.053846,47.007430,36.253820,145.011381,1.400902,2.683300
Aday-,90.0,1.554735,0.733598,63.622490,14.619863,0.577741,1.074074,1.651181,0.108145,0.052580,...,2.904626,0.115987,36.976950,52.452704,71.041379,250.231817,42.522005,175.997145,1.346197,1.825625
Adnan-Januzaj-,90.0,3.595353,0.562658,51.854372,19.791090,0.783682,1.221462,0.600573,0.302391,0.302391,...,5.167404,0.730233,24.877097,32.971160,74.541379,142.947617,47.036642,233.444281,3.244277,6.014508

In [67]:
ESPaverage.to_csv('ESPaverage.csv')

In [68]:
FRAdata = pd.read_csv('fbref_FRAalldata.csv').drop(columns=['Unnamed: 0']).dropna()

In [69]:
FRAdata['SoT'] = pd.to_numeric(FRAdata['SoT'], errors = 'coerce')

In [70]:
FRAdata.dropna(inplace=True)

In [71]:
FRAdata[numeric_columns] = FRAdata[numeric_columns].apply(pd.to_numeric, errors='coerce')

In [72]:
FRAdata[absolute_columns] = FRAdata[absolute_columns].div(FRAdata.Min/90, axis=0)

In [73]:
FRAaverage=FRAdata[FRAdata.Min>=15.0].drop(columns=['Round']).groupby('name').mean()

In [74]:
FRAaverage.to_csv('FRAaverage.csv')

In [75]:
ITAdata = pd.read_csv('fbref_ITAalldata.csv').drop(columns=['Unnamed: 0']).dropna()

In [76]:
ITAdata['SoT'] = pd.to_numeric(ITAdata['SoT'], errors = 'coerce')

In [77]:
ITAdata.dropna(inplace=True)

In [78]:
ITAdata[numeric_columns] = ITAdata[numeric_columns].apply(pd.to_numeric, errors='coerce')

In [79]:
ITAdata[absolute_columns] = ITAdata[absolute_columns].div(ITAdata.Min/90, axis=0)

In [80]:
ITAaverage=ITAdata[ITAdata.Min>=15.0].drop(columns=['Round']).groupby('name').mean()

In [81]:
ITAaverage.to_csv('ITAaverage.csv')

In [82]:
GERdata = pd.read_csv('fbref_GERalldata.csv').drop(columns=['Unnamed: 0']).dropna()

In [83]:
GERdata['SoT'] = pd.to_numeric(GERdata['SoT'], errors = 'coerce')

In [84]:
GERdata.dropna(inplace=True)

In [85]:
GERdata[numeric_columns] = GERdata[numeric_columns].apply(pd.to_numeric, errors='coerce')

In [86]:
GERdata[absolute_columns] = GERdata[absolute_columns].div(GERdata.Min/90, axis=0)

In [87]:
GERaverage=GERdata[GERdata.Min>=15.0].drop(columns=['Round']).groupby('name').mean()

In [88]:
GERaverage.to_csv('GERaverage.csv')

In [66]:
GERdata[GERdata.Min>=15.0].drop(columns=['Round']).groupby('name').mean()

,Min,Sh,SoT,Touches,Press,Tkl,Int,Blocks,xG,npxG,...,SCA,GCA,Cmp,Att,Cmp%,PrgDist,Carries,PrgDist.1,Succ,Att.1
name,,,,,,,,,,,,,,,,,,,,,
Aaron-Hunt-,76.964286,0.964286,0.214286,52.250000,17.178571,1.071429,0.535714,1.071429,0.107143,0.078571,...,3.500000,0.214286,31.250000,43.535714,70.710714,188.357143,31.571429,82.250000,0.750000,1.285714
Abdou-Diallo-,89.481481,0.481481,0.111111,55.370370,12.925926,2.333333,2.185185,1.703704,0.085185,0.085185,...,0.925926,0.148148,33.518519,44.481481,74.055556,331.407407,32.037037,123.592593,1.296296,1.740741
Adam-Szalai-,56.866667,1.800000,0.733333,22.666667,9.933333,0.600000,0.133333,0.600000,0.206667,0.206667,...,1.200000,0.000000,10.400000,14.133333,74.126667,23.200000,12.466667,18.266667,0.600000,1.066667
Ademola-Lookman-,51.750000,1.062500,0.375000,26.625000,8.875000,0.562500,0.437500,0.562500,0.168750,0.168750,...,2.250000,0.437500,14.812500,19.312500,77.218750,62.750000,22.687500,104.500000,1.812500,2.750000
Admir-Mehmedi-,68.285714,1.214286,0.357143,46.357143,12.071429,1.214286,1.500000,1.571429,0.078571,0.078571,...,2.500000,0.285714,28.642857,37.642857,76.214286,177.500000,30.285714,104.357143,0.785714,1.214286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yoshinori-Muto-,75.461538,1.461538,0.730769,22.230769,20.230769,0.615385,0.269231,0.692308,0.173077,0.173077,...,1.576923,0.307692,10.346154,13.500000,74.988462,21.923077,14.076923,44.769231,0.615385,1.461538
Yunus-Malli-,78.928571,1.892857,0.571429,40.535714,12.964286,0.750000,0.642857,0.714286,0.178571,0.178571,...,2.321429,0.321429,22.785714,30.035714,75.660714,110.964286,29.892857,147.321429,1.750000,3.000000
Yussuf-Poulsen-,61.379310,1.413793,0.482759,31.103448,19.379310,0.724138,0.413793,1.310345,0.255172,0.255172,...,1.482759,0.137931,13.310345,20.655172,65.131034,38.862069,18.931034,59.482759,1.241379,2.000000
Yuya-Osako-,75.750000,1.571429,0.642857,32.607143,14.535714,0.464286,0.357143,0.571429,0.200000,0.200000,...,1.928571,0.214286,16.750000,24.000000,68.000000,72.678571,25.571429,67.678571,1.035714,1.392857
Zlatko-Junuzovic-,70.869565,1.739130,0.434783,43.043478,15.695652,1.652174,0.956522,0.913043,0.147826,0.147826,...,3.043478,0.217391,23.565217,34.086957,69.191304,148.782609,25.608696,75.130435,0.391304,0.956522

In [68]:
GERdata[numeric_columns].div(GERdata.Min, axis=0)

,Min,Sh,SoT,Touches,Press,Tkl,Int,Blocks,xG,npxG,...,SCA,GCA,Cmp,Att,Cmp%,PrgDist,Carries,PrgDist.1,Succ,Att.1
3,1.0,0.000000,0.0,0.688889,0.133333,0.011111,0.011111,0.022222,0.0,0.0,...,0.011111,0.011111,0.500000,0.588889,0.943333,2.966667,0.444444,1.500000,0.011111,0.011111
4,1.0,0.011111,0.0,1.155556,0.155556,0.022222,0.000000,0.000000,0.0,0.0,...,0.044444,0.000000,0.944444,1.100000,0.954444,4.600000,0.900000,4.233333,0.000000,0.011111
7,1.0,0.000000,0.0,1.077778,0.211111,0.011111,0.011111,0.000000,0.0,0.0,...,0.077778,0.000000,0.744444,1.000000,0.826667,5.044444,0.822222,2.011111,0.011111,0.022222
9,1.0,0.000000,0.0,1.488889,0.211111,0.011111,0.000000,0.000000,0.0,0.0,...,0.144444,0.044444,1.188889,1.422222,0.928889,9.100000,1.088889,2.533333,0.022222,0.022222
10,1.0,0.000000,0.0,0.888889,0.288889,0.011111,0.000000,0.022222,0.0,0.0,...,0.022222,0.000000,0.688889,0.800000,0.956667,5.488889,0.666667,2.244444,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15672,1.0,0.000000,0.0,0.833333,1.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.166667,0.000000,0.833333,0.833333,16.666667,0.500000,0.833333,0.833333,0.000000,0.000000
15673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
ENGaverage = pd.read_csv('ENGaverage.csv')
ENGaverage.head()

,name,Min,Sh,SoT,Touches,Press,Tkl,Int,Blocks,xG,...,SCA,GCA,Cmp,Att,Cmp%,PrgDist,Carries,PrgDist.1,Succ,Att.1
0,Aaron-Cresswell-,90.0,0.811304,0.166667,60.689323,10.446513,1.038012,1.433068,1.978930,0.016730,...,2.177532,0.255117,36.504045,51.864903,69.366667,303.183882,34.593704,87.672627,0.166667,0.449561
1,Aaron-Lennon-,90.0,0.953701,0.249180,36.962503,17.870915,2.036714,0.986153,2.294933,0.078239,...,3.049544,0.829409,16.621978,24.721263,67.320000,65.526326,23.518295,89.745861,0.932138,1.796583
2,Aaron-Mooy-,90.0,0.860075,0.153846,72.508033,16.738697,2.378954,1.168970,1.691693,0.058974,...,2.190738,0.188934,46.769622,62.109837,73.828205,234.692950,46.450938,106.612856,0.455228,0.768464
3,Aaron-Ramsey-,90.0,2.936877,1.271377,74.383348,16.396221,1.466667,1.104977,0.963043,0.284746,...,3.395792,0.766050,51.287759,61.979144,82.470833,224.301321,57.425697,166.864601,1.105970,1.866387
4,Aaron-Wan-Bissaka-,90.0,0.000000,0.000000,56.396104,12.175325,3.577922,2.288961,5.162338,0.000000,...,1.000000,0.000000,26.444805,39.487013,61.928571,246.272727,26.750000,132.795455,1.146104,1.574675

In [32]:
ENG_injuries_history=pd.read_csv('inj_history.csv')
ENG_injuries_history.head()

        Unnamed: 0                                                  0
0      Bakary Sako  ['\xa0Groin Strain', '\xa0Groin Strain', '\xa0...
1    Harrison Reed  ['With the U21s', 'not in squad', 'With the U2...
2  Jordan Pickford  ['\xa0Knee Injury', '\xa0Knee Injury', '\xa0Kn...
3       Sadio Mané  ['\xa0Shoulder Injury', 'International match',...
4    Jeff Hendrick  ['\xa0Yellow card suspension', 'not in squad',...

In [5]:
ENG_injuries_history['0'].unique

<bound method Series.unique of 0      ['\xa0Groin Strain', '\xa0Groin Strain', '\xa0...
1      ['With the U21s', 'not in squad', 'With the U2...
2      ['\xa0Knee Injury', '\xa0Knee Injury', '\xa0Kn...
3      ['\xa0Shoulder Injury', 'International match',...
4      ['\xa0Yellow card suspension', 'not in squad',...
                             ...
709    ['not in squad', 'not in squad', 'not in squad...
710    ['\xa0Knee Injury', '\xa0Knee Injury', '\xa0Kn...
711    ['not in squad', 'not in squad', 'not in squad...
712                                                   []
713    ['\xa0Red card suspension', 'not in squad', 'n...
Name: 0, Length: 714, dtype: object>

In [8]:
true_injuries=['\xa0Abdominal Strain',
 '\xa0Achilles tendon problems',
 '\xa0Achilles tendon rupture',
 '\xa0Achilles tendon surgery',
 '\xa0Adductor problems',
 '\xa0Ankle Injury',
 '\xa0Ankle Surgery',
 '\xa0Ankle problems',
 '\xa0Back Injury',
 '\xa0Back trouble',
 '\xa0Bruise',
 '\xa0Bruised Ankle',
 '\xa0Bruised Foot',
 '\xa0Bruised Rib',
 '\xa0Calf Injury',
 '\xa0Calf Problems',
 '\xa0Calf Strain',
 '\xa0Cals Sclerosis',
 '\xa0Cartilage Damage',
 '\xa0Circulation Problems',
 '\xa0Cold',
 '\xa0Concussion',
 '\xa0Cruciate Ligament Injury',
 '\xa0Cruciate Ligament Rupture',
 '\xa0Cruciate Ligament Surgery',
 '\xa0Cut',
 '\xa0Distortion of the ankle',
 '\xa0Fitness',
 '\xa0Foot Injury',
 '\xa0Fractured Arm',
 '\xa0Fractured Foot',
 '\xa0Fractured Leg',
 '\xa0Fractured Rib',
 '\xa0Groin Injury',
 '\xa0Groin Strain',
 '\xa0Hairline crack in calfbone',
 '\xa0Hairline crack in the foot',
 '\xa0Hamstring Injury',
 '\xa0Hamstring contusion',
 '\xa0Head Injury',
 '\xa0Heart Condition',
 '\xa0Heel Bone Injury',
 '\xa0Hip Injury',
 '\xa0Ill',
 '\xa0Injury to the ankle',
 '\xa0Knee Injury',
 '\xa0Knee Problems',
 '\xa0Knee Surgery',
 '\xa0Knee inflammation ',
 '\xa0Knock',
 '\xa0Ligament Injury',
 '\xa0Medial Collateral Ligament Injury',
 '\xa0Medial Collateral Ligament Knee Injury',
 '\xa0Meniscal Injury',
 '\xa0Metatarsal Fracture',
 '\xa0Minor Knock',
 '\xa0Muscle Injury',
 '\xa0Muscular problems',
 '\xa0Problems with the hip flexor',
 '\xa0Ruptured cruciate ligament',
 '\xa0Ruptured intraarticular ligament initiation in knee',
 '\xa0Shinbone injury',
 '\xa0Shoulder Injury',
 '\xa0Sprained Ankle',
 '\xa0Strain',
 '\xa0Tear in the abductor muscle',
 '\xa0Thigh Muscle Strain',
 '\xa0Thigh Problems',
 '\xa0Thigh muscle rupture',
 '\xa0Tibia and Fibula Fracture',
 '\xa0Torn Ligament',
 '\xa0Torn Meniscus',
 '\xa0Torn Muscle Fibre',
 '\xa0Unknown Injury',
 '\xa0Wirst Injury',
 '\xa0groin strain',
 '\xa0tendon irritation']

In [15]:
true_injuries=[y.strip('\xa0') for y in true_injuries]

In [9]:
x=ENG_injuries_history.iloc[2]

In [12]:
l=x['0'].strip('[]').split(', ')

In [13]:
l

["'\\xa0Knee Injury'",
 "'\\xa0Knee Injury'",
 "'\\xa0Knee Injury'",
 "'\\xa0Knee Injury'",
 "'\\xa0Knee Injury'",
 "'\\xa0Knee Injury'",
 "'\\xa0Knee Injury'",
 "'\\xa0Knee Injury'",
 "'\\xa0Knee Injury'"]

In [16]:
sum([y.strip("''").strip('\\xa0') for y in l].count(t) for t in true_injuries)

9

In [18]:
number_of_injuries(ENG_injuries_history.iloc[2])

Unnamed: 0                                         Jordan Pickford
0                ['\xa0Knee Injury', '\xa0Knee Injury', '\xa0Kn...
injured games                                                    9
Name: 2, dtype: object

In [17]:
def number_of_injuries(row):
    #this returns the number of games skipped for injuries in a row
    total_list=row['0'].strip('[]').split(', ')
    row['injured games']=sum( [y.strip("''").strip('\\xa0') for y in total_list].count(x) for x in true_injuries) 
    return row

In [33]:
ENG_injuries_history = ENG_injuries_history.apply(number_of_injuries, axis=1)

In [34]:
ENG_injuries_history = ENG_injuries_history.drop(columns=['0']).rename(columns={'Unnamed: 0':'name'})

In [35]:
ENG_injuries_history.head(10)

              name  injured games
0      Bakary Sako              9
1    Harrison Reed              0
2  Jordan Pickford              9
3       Sadio Mané              9
4    Jeff Hendrick              0
5   Nordin Amrabat              0
6       Dion Henry              0
7       Sam Hughes              0
8  Terence Kongolo              9
9    Jack Harrison              0

In [42]:
def fix_name(row):
    name=row['name']
    fixed_name=name.strip('-').replace('-',' ')
    row['name']=fixed_name
    return row

In [44]:
ENGaverage = ENGaverage.apply(fix_name, axis=1)

In [47]:
ENGaverage = ENGaverage.merge(ENG_injuries_history, left_on = 'name', right_on = 'name')

In [48]:
len(ENGaverage)

394

In [49]:
ESP_injuries_history=pd.read_csv('inj_historyESP.csv')
ESP_injuries_history.head()

         Unnamed: 0                                                  0
0             Ganso  ['not in squad', '\xa0Adductor problems', 'not...
1  Mauro dos Santos  ['not in squad', 'not in squad', 'not in squad...
2              Gabi  ['\xa0Yellow card suspension', '\xa0Yellow car...
3    Oriol Busquets                                                 []
4     Fede Cartabia  ['not in squad', 'not in squad', 'not in squad...

In [50]:
ESP_injuries_history = ESP_injuries_history.apply(number_of_injuries, axis=1)

In [51]:
ESP_injuries_history = ESP_injuries_history.drop(columns=['0']).rename(columns={'Unnamed: 0':'name'})

In [52]:
ESP_injuries_history.head(10)

                 name  injured games
0               Ganso              3
1    Mauro dos Santos              0
2                Gabi              0
3      Oriol Busquets              0
4       Fede Cartabia              2
5    Francis Coquelin              4
6       Ramiro Guerra              0
7       Roberto Olabe              0
8  Asier Illarramendi              3
9         David López              0

In [53]:
ESPaverage = pd.read_csv('ESPaverage.csv')
ESPaverage.head()

,name,Min,Sh,SoT,Touches,Press,Tkl,Int,Blocks,xG,...,SCA,GCA,Cmp,Att,Cmp%,PrgDist,Carries,PrgDist.1,Succ,Att.1
0,Aaron-Martin-,90.0,0.156250,0.062500,51.702410,12.358047,1.381944,1.659722,1.854167,0.003125,...,1.738971,0.093750,32.349060,43.907884,73.040625,203.187296,31.765727,112.448529,1.250000,1.531250
1,Achraf-Hakimi-,90.0,0.530303,0.333333,62.329483,18.736463,1.916667,1.083333,1.569921,0.041667,...,1.530303,0.083333,42.750869,52.252608,81.833333,241.901267,46.178589,158.885370,2.473174,3.223174
2,Adalberto-Penaranda-,90.0,2.183856,0.746955,43.354437,21.845374,1.816828,0.000000,1.480026,0.092721,...,2.895018,0.000000,21.042430,26.689747,79.053846,47.007430,36.253820,145.011381,1.400902,2.683300
3,Aday-,90.0,1.554735,0.733598,63.622490,14.619863,0.577741,1.074074,1.651181,0.108145,...,2.904626,0.115987,36.976950,52.452704,71.041379,250.231817,42.522005,175.997145,1.346197,1.825625
4,Adnan-Januzaj-,90.0,3.595353,0.562658,51.854372,19.791090,0.783682,1.221462,0.600573,0.302391,...,5.167404,0.730233,24.877097,32.971160,74.541379,142.947617,47.036642,233.444281,3.244277,6.014508

In [54]:
ESPaverage = ESPaverage.apply(fix_name, axis=1)

In [56]:
ESPaverage = ESPaverage.merge(ESP_injuries_history, left_on = 'name', right_on = 'name')

In [57]:
len(ESPaverage)

280

In [58]:
GER_injuries_history=pd.read_csv('inj_historyGER.csv')
GER_injuries_history.head()

          Unnamed: 0                                                  0
0  Christian Pulisic                        ['\xa0Ill', 'not in squad']
1       Simon Lorenz                                   ['not in squad']
2  Frederik Sörensen  ['\xa0Yellow card suspension', '\xa0Muscle Inj...
3     Tony Jantschke  ['\xa0groin strain', '\xa0groin strain', '\xa0...
4      Dennis Geiger  ['With the 2nd team', 'With the 2nd team', 'Wi...

In [59]:
GER_injuries_history = GER_injuries_history.apply(number_of_injuries, axis=1)

In [60]:
GER_injuries_history = GER_injuries_history.drop(columns=['0']).rename(columns={'Unnamed: 0':'name'})

In [61]:
GER_injuries_history.head(10)

                         name  injured games
0           Christian Pulisic              1
1                Simon Lorenz              0
2           Frederik Sörensen              1
3              Tony Jantschke             11
4               Dennis Geiger              2
5                Lászlo Bénes              0
6  Jan-Ingwer Callsen-Bracker              8
7        Jean-Philippe Gbamin              4
8               Jonas Hofmann              3
9                  Bernd Leno              0

In [62]:
GERaverage = pd.read_csv('GERaverage.csv')
GERaverage.head()

,name,Min,Sh,SoT,Touches,Press,Tkl,Int,Blocks,xG,...,SCA,GCA,Cmp,Att,Cmp%,PrgDist,Carries,PrgDist.1,Succ,Att.1
0,Aaron-Hunt-,90.0,1.055324,0.223477,62.842944,20.795625,1.306299,0.954395,1.181734,0.114063,...,4.848414,0.220065,37.762300,52.560578,71.031034,228.642751,38.448145,99.919914,0.896461,1.510053
1,Abdou-Diallo-,90.0,0.481481,0.111111,55.520468,12.987329,2.340156,2.212476,1.710526,0.085185,...,0.925926,0.148148,33.593567,44.611111,74.055556,332.130604,32.105263,123.729045,1.296296,1.740741
2,Adam-Szalai-,90.0,2.825661,0.825000,40.247449,15.585304,1.159664,0.111111,1.473545,0.215106,...,1.785714,0.000000,19.367335,25.356635,75.661111,54.358702,21.936576,30.986951,0.759259,1.407407
3,Ademola-Lookman-,90.0,2.027635,0.797581,61.430133,18.848875,0.672581,0.664286,0.973508,0.226557,...,3.350350,0.550004,38.486160,47.109513,75.610000,126.186979,53.390290,443.311122,2.696223,5.086740
4,Admir-Mehmedi-,90.0,1.382728,0.513932,66.857423,16.742618,1.413854,1.704079,1.827397,0.092397,...,3.661929,0.465040,41.780262,54.585509,74.041176,224.163143,42.730293,146.198944,1.153216,2.413397

In [63]:
GERaverage = GERaverage.apply(fix_name, axis=1)

In [65]:
GERaverage = GERaverage.merge(GER_injuries_history, left_on = 'name', right_on = 'name')

In [66]:
len(GERaverage)

361

In [67]:
ITA_injuries_history=pd.read_csv('inj_historyITA.csv')
ITA_injuries_history.head()

           Unnamed: 0                                                  0
0  Gian Marco Ferrari                     ['\xa0Yellow card suspension']
1          Luca Antei  ['not in squad', '\xa0Strain', 'not in squad',...
2        Erick Pulgar  ['\xa0Indirect card suspension', '\xa0Yellow c...
3       Mattia Destro  ['not in squad', '\xa0Unknown Injury', '\xa0Un...
4       Andrea Nalini  ['\xa0Unknown Injury', '\xa0Unknown Injury', '...

In [68]:
ITA_injuries_history = ITA_injuries_history.apply(number_of_injuries, axis=1)

In [69]:
ITA_injuries_history = ITA_injuries_history.drop(columns=['0']).rename(columns={'Unnamed: 0':'name'})

In [70]:
ITA_injuries_history.head(10)

                 name  injured games
0  Gian Marco Ferrari              0
1          Luca Antei              7
2        Erick Pulgar              0
3       Mattia Destro              5
4       Andrea Nalini              3
5           Vid Belec              0
6        Jakub Jankto              0
7        Andrea Danzi              0
8        Robin Gosens              4
9      Nicolás Spolli              2

In [71]:
ITAaverage = pd.read_csv('ITAaverage.csv')
ITAaverage.head()

,name,Min,Sh,SoT,Touches,Press,Tkl,Int,Blocks,xG,...,SCA,GCA,Cmp,Att,Cmp%,PrgDist,Carries,PrgDist.1,Succ,Att.1
0,Achraf-Lazaar-,90.0,1.375923,0.951395,56.691735,24.943001,2.943198,0.783014,4.563827,0.103866,...,1.377176,0.000000,26.211068,36.308010,71.725000,98.395494,43.610166,166.898803,4.265221,6.735332
1,Adam-Marusic-,90.0,1.373435,0.531824,53.040042,11.711609,1.261260,1.100712,1.678348,0.099162,...,2.600917,0.348101,33.549858,43.336740,77.590625,167.788330,35.549310,136.938705,0.962690,2.397656
2,Adam-Masina-,90.0,0.596134,0.088235,65.673420,17.478169,3.120890,1.815765,2.214657,0.052941,...,1.479507,0.147059,40.862282,53.036060,76.035294,318.924513,36.242268,125.088178,0.996434,1.575738
3,Adam-Nagy-,90.0,0.535714,0.535714,39.963380,23.984131,2.362026,1.205735,2.741118,0.107143,...,1.020352,0.156250,24.259735,28.985430,83.883333,93.628567,26.203913,68.854297,0.681738,1.285249
4,Adam-Ounas-,90.0,4.115260,0.535714,96.387523,26.570733,2.525510,0.000000,1.721939,0.107143,...,11.900510,1.071429,59.714750,76.518785,77.157143,178.844388,84.795223,326.098330,3.696429,6.221939

In [72]:
ITAaverage = ITAaverage.apply(fix_name, axis=1)

In [74]:
ITAaverage = ITAaverage.merge(ITA_injuries_history, left_on = 'name', right_on = 'name')

In [75]:
len(ITAaverage)

406

In [76]:
FRA_injuries_history=pd.read_csv('inj_historyFRA.csv')
FRA_injuries_history.head()

         Unnamed: 0                                                  0
0     Kylian Mbappé  ['\xa0Head Injury', 'not in squad', 'Internati...
1     Bastien Rempp                                                 []
2       Yacine Adli                                                 []
3      Jordi Mboula                                                 []
4  Bingourou Kamara  ['not in squad', 'not in squad', 'not in squad...

In [77]:
FRA_injuries_history = FRA_injuries_history.apply(number_of_injuries, axis=1)

In [78]:
FRA_injuries_history = FRA_injuries_history.drop(columns=['0']).rename(columns={'Unnamed: 0':'name'})

In [79]:
FRA_injuries_history.head(10)

                 name  injured games
0       Kylian Mbappé              6
1       Bastien Rempp              0
2         Yacine Adli              0
3        Jordi Mboula              0
4    Bingourou Kamara              0
5     Loïc Badiashile              0
6  Anthony Maisonnial              0
7        Andrea Raggi              1
8       Lacina Traoré              6
9         Serge Gakpé              0

In [80]:
FRAaverage = pd.read_csv('FRAaverage.csv')
FRAaverage.head()

,name,Min,Sh,SoT,Touches,Press,Tkl,Int,Blocks,xG,...,SCA,GCA,Cmp,Att,Cmp%,PrgDist,Carries,PrgDist.1,Succ,Att.1
0,Abdallah-Ndour-,90.0,0.000000,0.000000,79.866071,14.696429,2.607143,0.607143,4.383929,0.000000,...,12.250000,0.000000,48.089286,61.223214,71.125000,341.678571,46.482143,414.508929,0.000000,0.000000
1,Abdoul-Camara-,90.0,1.530140,0.457589,46.225694,10.459027,0.735454,0.534824,0.460543,0.098941,...,2.167695,0.584416,25.585103,35.560237,71.521429,99.087613,37.662473,204.878266,1.744343,2.353186
2,Abdoulaye-Bamba-,90.0,0.222222,0.055556,58.214052,8.347222,1.055556,0.781046,1.457516,0.000000,...,1.458333,0.111111,38.073529,50.343954,75.522222,295.758170,35.058824,103.880719,0.666667,0.944444
3,Abdoulaye-Toure-,90.0,1.292745,0.384286,61.241509,17.195614,2.284924,1.806698,1.775045,0.050163,...,2.364401,0.342857,38.470387,48.118436,78.625714,232.233915,40.691564,110.659406,1.299297,1.706440
4,Ablie-Jallow-,90.0,2.288136,0.000000,45.169492,3.887712,1.250000,2.775424,1.525424,0.152542,...,2.913136,0.000000,23.728814,30.529661,77.250000,91.197034,37.881356,70.413136,2.150424,2.775424

In [81]:
FRAaverage = FRAaverage.apply(fix_name, axis=1)

In [83]:
FRAaverage = FRAaverage.merge(FRA_injuries_history, left_on = 'name', right_on = 'name')

In [84]:
len(FRAaverage)

334

In [86]:
full_average_history = pd.concat([ENGaverage,ESPaverage,ITAaverage,GERaverage,FRAaverage], ignore_index=True)

In [87]:
full_average_history.to_csv('full_avg_history.csv')

In [4]:
app_history = pd.read_csv('full_avg_history.csv').drop(columns=['Unnamed: 0']).set_index('name')

In [9]:
app_history.loc['Lionel Messi']

Min               90.000000
Sh                 5.579076
SoT                2.563451
Touches           72.630772
Press             12.626845
Tkl                0.475000
Int                0.220312
Blocks             0.672826
xG                 0.684063
npxG               0.589062
xA                 0.396606
SCA                6.836371
GCA                1.172581
Cmp               45.298433
Att               57.519092
Cmp%              78.147500
PrgDist          257.184088
Carries           65.692378
PrgDist.1        266.535116
Succ               5.428925
Att.1              7.449237
injured games      0.000000
Name: Lionel Messi, dtype: float64

In [89]:
ENG_obs=pd.read_csv('fbref_ENGobs_withname.csv')
ENG_y = pd.read_csv('fbref_ENGy_withname.csv')

In [94]:
ENG_obs.drop(columns=['Unnamed: 0'], inplace=True)

In [95]:
ENG_y.drop(columns=['Unnamed: 0'], inplace=True)

In [101]:
ENG_y.rename(columns={'0': 'label'}, inplace=True)

In [111]:
pd.concat([ENG_obs,ENG_y],axis=0).head()

,name,Min,Sh,SoT,Touches,Press,Tkl,Int,Blocks,xG,...,GCA,Cmp,Att,Cmp%,PrgDist,Carries,PrgDist.1,Succ,Att.1,label
0,Kyle Naughton,90,0,0,62,7,1,5,8,0.0,...,0,38,49,77.6,287,27,59,0,0,NaN
1,Kyle Naughton,90,0,0,71,9,3,1,1,0.0,...,0,44,63,69.8,488,43,68,0,0,NaN
2,Kyle Naughton,88,0,0,74,8,3,2,1,0.0,...,1,53,66,80.3,376,41,138,4,4,NaN
3,Kyle Naughton,90,0,0,103,13,0,1,1,0.0,...,0,69,93,74.2,562,62,61,3,3,NaN
4,Kyle Naughton,90,0,0,37,19,4,2,2,0.0,...,0,16,25,64.0,196,18,24,2,2,NaN

In [107]:
ENG_y['label']=ENG_y['label'].astype(int)

In [112]:
ENG_obs['label']=ENG_y['label']

In [122]:
ENG_obs.SoT.unique()

array(['0', '1', 'On matchday squad, but did not play', '2', '3', '4',
       '0.0', '1.0', '2.0', '3.0', '6', '4.0', '5'], dtype=object)

In [123]:
ENG_obs['SoT'] = pd.to_numeric(ENG_obs['SoT'], errors = 'coerce')

In [124]:
len(ENG_obs)

10183

In [125]:
ENG_obs.dropna(inplace=True)

In [126]:
len(ENG_obs)

7737

In [129]:
ENG_obs[numeric_columns] = ENG_obs[numeric_columns].apply(pd.to_numeric, errors='coerce')

In [130]:
ENG_obs.dropna(inplace=True)

In [131]:
len(ENG_obs)

7737

In [134]:
ENG_obs[absolute_columns] = ENG_obs[absolute_columns].div(ENG_obs.Min/90, axis=0)

In [135]:
ENG_obs.head()

,name,Min,Sh,SoT,Touches,Press,Tkl,Int,Blocks,xG,...,GCA,Cmp,Att,Cmp%,PrgDist,Carries,PrgDist.1,Succ,Att.1,label
0,Kyle Naughton,90.0,0.0,0.0,62.000000,7.000000,1.000000,5.000000,8.000000,0.0,...,0.000000,38.000000,49.0,77.6,287.000000,27.000000,59.000000,0.000000,0.000000,0
1,Kyle Naughton,90.0,0.0,0.0,71.000000,9.000000,3.000000,1.000000,1.000000,0.0,...,0.000000,44.000000,63.0,69.8,488.000000,43.000000,68.000000,0.000000,0.000000,0
2,Kyle Naughton,90.0,0.0,0.0,75.681818,8.181818,3.068182,2.045455,1.022727,0.0,...,1.022727,54.204545,67.5,80.3,384.545455,41.931818,141.136364,4.090909,4.090909,0
3,Kyle Naughton,90.0,0.0,0.0,103.000000,13.000000,0.000000,1.000000,1.000000,0.0,...,0.000000,69.000000,93.0,74.2,562.000000,62.000000,61.000000,3.000000,3.000000,0
4,Kyle Naughton,90.0,0.0,0.0,37.000000,19.000000,4.000000,2.000000,2.000000,0.0,...,0.000000,16.000000,25.0,64.0,196.000000,18.000000,24.000000,2.000000,2.000000,0

In [136]:
ENGaverage.head()

,name,Min,Sh,SoT,Touches,Press,Tkl,Int,Blocks,xG,...,GCA,Cmp,Att,Cmp%,PrgDist,Carries,PrgDist.1,Succ,Att.1,injured games
0,Aaron Cresswell,90.0,0.811304,0.166667,60.689323,10.446513,1.038012,1.433068,1.978930,0.016730,...,0.255117,36.504045,51.864903,69.366667,303.183882,34.593704,87.672627,0.166667,0.449561,13
1,Aaron Lennon,90.0,0.953701,0.249180,36.962503,17.870915,2.036714,0.986153,2.294933,0.078239,...,0.829409,16.621978,24.721263,67.320000,65.526326,23.518295,89.745861,0.932138,1.796583,0
2,Aaron Mooy,90.0,0.860075,0.153846,72.508033,16.738697,2.378954,1.168970,1.691693,0.058974,...,0.188934,46.769622,62.109837,73.828205,234.692950,46.450938,106.612856,0.455228,0.768464,0
3,Aaron Ramsey,90.0,2.936877,1.271377,74.383348,16.396221,1.466667,1.104977,0.963043,0.284746,...,0.766050,51.287759,61.979144,82.470833,224.301321,57.425697,166.864601,1.105970,1.866387,19
4,Abdelhamid Sabiri,90.0,3.811630,0.000000,52.087132,14.967127,3.041379,0.219512,1.705226,0.090640,...,0.219512,21.694701,35.390917,60.240000,80.311642,29.268917,72.698018,0.285714,2.685714,8

In [138]:
df_ENG = ENG_obs.merge(ENGaverage, left_on='name',right_on='name')

In [139]:
numeric_columns

['Min',
 'Sh',
 'SoT',
 'Touches',
 'Press',
 'Tkl',
 'Int',
 'Blocks',
 'xG',
 'npxG',
 'xA',
 'SCA',
 'GCA',
 'Cmp',
 'Att',
 'Cmp%',
 'PrgDist',
 'Carries',
 'PrgDist.1',
 'Succ',
 'Att.1']

In [140]:
df_ENG.columns

Index(['name', 'Min_x', 'Sh_x', 'SoT_x', 'Touches_x', 'Press_x', 'Tkl_x',
       'Int_x', 'Blocks_x', 'xG_x', 'npxG_x', 'xA_x', 'SCA_x', 'GCA_x',
       'Cmp_x', 'Att_x', 'Cmp%_x', 'PrgDist_x', 'Carries_x', 'PrgDist.1_x',
       'Succ_x', 'Att.1_x', 'label', 'Min_y', 'Sh_y', 'SoT_y', 'Touches_y',
       'Press_y', 'Tkl_y', 'Int_y', 'Blocks_y', 'xG_y', 'npxG_y', 'xA_y',
       'SCA_y', 'GCA_y', 'Cmp_y', 'Att_y', 'Cmp%_y', 'PrgDist_y', 'Carries_y',
       'PrgDist.1_y', 'Succ_y', 'Att.1_y', 'injured games'],
      dtype='object')

In [141]:
for col in numeric_columns[1:]:
    colx, coly= col+'_x', col+'_y'
    df_ENG[col]=df_ENG[colx]-df_ENG[coly]

In [142]:
df_ENG.columns

Index(['name', 'Min_x', 'Sh_x', 'SoT_x', 'Touches_x', 'Press_x', 'Tkl_x',
       'Int_x', 'Blocks_x', 'xG_x', 'npxG_x', 'xA_x', 'SCA_x', 'GCA_x',
       'Cmp_x', 'Att_x', 'Cmp%_x', 'PrgDist_x', 'Carries_x', 'PrgDist.1_x',
       'Succ_x', 'Att.1_x', 'label', 'Min_y', 'Sh_y', 'SoT_y', 'Touches_y',
       'Press_y', 'Tkl_y', 'Int_y', 'Blocks_y', 'xG_y', 'npxG_y', 'xA_y',
       'SCA_y', 'GCA_y', 'Cmp_y', 'Att_y', 'Cmp%_y', 'PrgDist_y', 'Carries_y',
       'PrgDist.1_y', 'Succ_y', 'Att.1_y', 'injured games', 'Sh', 'SoT',
       'Touches', 'Press', 'Tkl', 'Int', 'Blocks', 'xG', 'npxG', 'xA', 'SCA',
       'GCA', 'Cmp', 'Att', 'Cmp%', 'PrgDist', 'Carries', 'PrgDist.1', 'Succ',
       'Att.1'],
      dtype='object')

In [143]:
col_list=['name', 'label', 'injured games', 'Sh', 'SoT',
       'Touches', 'Press', 'Tkl', 'Int', 'Blocks', 'xG', 'npxG', 'xA', 'SCA',
       'GCA', 'Cmp', 'Att', 'Cmp%', 'PrgDist', 'Carries', 'PrgDist.1', 'Succ',
       'Att.1']

In [144]:
ENG_Xy=df_ENG[col_list]

In [147]:
ENG_Xy.head()

,name,label,injured games,Sh,SoT,Touches,Press,Tkl,Int,Blocks,...,SCA,GCA,Cmp,Att,Cmp%,PrgDist,Carries,PrgDist.1,Succ,Att.1
0,Kyle Naughton,0,0,-0.352941,-0.029412,-10.714171,-8.159759,-1.754211,2.959693,4.788302,...,-0.070388,-0.059492,-6.477340,-11.827206,5.261765,-78.657219,-13.281083,-52.997393,-1.123997,-1.623997
1,Kyle Naughton,0,0,-0.352941,-0.029412,-1.714171,-6.159759,0.245789,-1.040307,-2.211698,...,-0.070388,-0.059492,-0.477340,2.172794,-2.538235,122.342781,2.718917,-43.997393,-1.123997,-1.623997
2,Kyle Naughton,0,0,-0.352941,-0.029412,2.967647,-6.977941,0.313971,0.005147,-2.188971,...,1.997794,0.963235,9.727206,6.672794,7.961765,18.888235,1.650735,29.138971,2.966912,2.466912
3,Kyle Naughton,0,0,-0.352941,-0.029412,30.285829,-2.159759,-2.754211,-1.040307,-2.211698,...,-0.070388,-0.059492,24.522660,32.172794,1.861765,196.342781,21.718917,-50.997393,1.876003,1.376003
4,Kyle Naughton,0,0,-0.352941,-0.029412,-35.714171,3.840241,1.245789,-0.040307,-1.211698,...,-1.070388,-0.059492,-28.477340,-35.827206,-8.338235,-169.657219,-22.281083,-87.997393,0.876003,0.376003

In [150]:
ESP_obs=pd.read_csv('fbref_ESPobs_withname.csv')
ESP_y = pd.read_csv('fbref_ESPy_withname.csv')

In [161]:
ESP_obs.head()

,name,Min,Sh,SoT,Touches,Press,Tkl,Int,Blocks,xG,...,GCA,Cmp,Att,Cmp%,PrgDist,Carries,PrgDist.1,Succ,Att.1,label
0,Jorge Molina,80.0,0.0,0.0,39.0,6.0,1.0,0.0,0.0,0.0,...,0.0,16.0,34.0,47.1,15.0,23.0,60.0,2.0,2.0,0
1,Jorge Molina,90.0,6.0,4.0,55.0,4.0,1.0,0.0,0.0,0.8,...,0.0,28.0,38.0,73.7,150.0,43.0,92.0,0.0,0.0,0
2,Jorge Molina,90.0,0.0,0.0,33.0,5.0,0.0,1.0,1.0,0.0,...,1.0,21.0,28.0,75.0,85.0,20.0,11.0,0.0,0.0,0
3,Jorge Molina,90.0,2.0,1.0,41.0,12.0,2.0,1.0,1.0,0.8,...,0.0,13.0,27.0,48.1,116.0,20.0,40.0,1.0,1.0,0
4,Jorge Molina,90.0,2.0,2.0,35.0,24.0,1.0,1.0,1.0,0.2,...,0.0,18.0,27.0,66.7,68.0,21.0,87.0,1.0,1.0,0

In [152]:
ESP_obs.drop(columns=['Unnamed: 0'], inplace=True)

In [155]:
ESP_y.drop(columns=['Unnamed: 0'], inplace=True)

In [157]:
ESP_y.rename(columns={'0': 'label'}, inplace=True)

In [159]:
ESP_y['label']=ESP_y['label'].astype(int)

In [160]:
ESP_obs['label']=ESP_y['label']

In [162]:
ESP_obs['SoT'] = pd.to_numeric(ESP_obs['SoT'], errors = 'coerce')

In [163]:
ESP_obs.dropna(inplace=True)

In [167]:
len(ESP_obs)

5509

In [165]:
ESP_obs[numeric_columns] = ESP_obs[numeric_columns].apply(pd.to_numeric, errors='coerce')

In [166]:
ESP_obs.dropna(inplace=True)

In [168]:
ESP_obs[absolute_columns] = ESP_obs[absolute_columns].div(ESP_obs.Min/90, axis=0)

In [170]:
df_ESP = ESP_obs.merge(ESPaverage, left_on='name',right_on='name')

In [171]:
for col in numeric_columns[1:]:
    colx, coly= col+'_x', col+'_y'
    df_ESP[col]=df_ESP[colx]-df_ESP[coly]

In [172]:
ESP_Xy=df_ESP[col_list]

In [173]:
ESP_Xy.head()

,name,label,injured games,Sh,SoT,Touches,Press,Tkl,Int,Blocks,...,SCA,GCA,Cmp,Att,Cmp%,PrgDist,Carries,PrgDist.1,Succ,Att.1
0,Jorge Molina,0,0,-1.842066,-0.705456,3.551639,-5.496021,0.590814,-0.227166,-0.989074,...,-2.474103,-0.446499,1.214945,10.561293,-13.188571,-49.076964,-1.941647,-4.3632,1.359934,0.288541
1,Jorge Molina,0,0,4.157934,3.294544,14.676639,-8.246021,0.465814,-0.227166,-0.989074,...,-0.474103,-0.446499,11.214945,10.311293,13.411429,84.048036,15.183353,20.1368,-0.890066,-1.961459
2,Jorge Molina,0,0,-1.842066,-0.705456,-7.323361,-7.246021,-0.534186,0.772834,0.010926,...,1.525897,0.553501,4.214945,0.311293,14.711429,19.048036,-7.816647,-60.8632,-0.890066,-1.961459
3,Jorge Molina,0,0,0.157934,0.294544,0.676639,-0.246021,1.465814,0.772834,0.010926,...,-0.474103,-0.446499,-3.785055,-0.688707,-12.188571,50.048036,-7.816647,-31.8632,0.109934,-0.961459
4,Jorge Molina,0,0,0.157934,1.294544,-5.323361,11.753979,0.465814,0.772834,0.010926,...,-1.474103,-0.446499,1.214945,-0.688707,6.411429,2.048036,-6.816647,15.1368,0.109934,-0.961459

In [174]:
ITA_obs=pd.read_csv('fbref_ITAobs_withname.csv')
ITA_y = pd.read_csv('fbref_ITAy_withname.csv')

In [175]:
ITA_obs.drop(columns=['Unnamed: 0'], inplace=True)

In [176]:
ITA_y.drop(columns=['Unnamed: 0'], inplace=True)

In [177]:
ITA_y.rename(columns={'0': 'label'}, inplace=True)

In [178]:
ITA_y['label']=ITA_y['label'].astype(int)

In [179]:
ITA_obs['label']=ITA_y['label']

In [183]:
len(ITA_obs)

7953

In [180]:
ITA_obs[numeric_columns] = ITA_obs[numeric_columns].apply(pd.to_numeric, errors='coerce')

In [182]:
ITA_obs.dropna(inplace=True)

In [184]:
ITA_obs[absolute_columns] = ITA_obs[absolute_columns].div(ITA_obs.Min/90, axis=0)

In [185]:
df_ITA = ITA_obs.merge(ITAaverage, left_on='name',right_on='name')

In [186]:
for col in numeric_columns[1:]:
    colx, coly= col+'_x', col+'_y'
    df_ITA[col]=df_ITA[colx]-df_ITA[coly]

In [187]:
ITA_Xy=df_ITA[col_list]

In [188]:
ITA_Xy.head()

,name,label,injured games,Sh,SoT,Touches,Press,Tkl,Int,Blocks,...,SCA,GCA,Cmp,Att,Cmp%,PrgDist,Carries,PrgDist.1,Succ,Att.1
0,Stephan Lichtsteiner,0,0,-0.224875,0.0,25.184919,1.476210,-0.816450,0.196052,0.686366,...,2.060894,0.767403,27.637622,25.912393,9.692857,269.559628,23.247982,-22.132285,0.690857,0.155798
1,Stephan Lichtsteiner,0,0,-0.224875,0.0,-12.004270,5.719453,-0.600234,1.628485,-1.313634,...,1.493326,-0.232597,-1.497513,-5.709229,7.292857,-44.872804,-2.319585,-70.024177,-0.309143,-0.844202
2,Stephan Lichtsteiner,0,0,-0.224875,0.0,5.184919,0.476210,2.183550,-0.803948,-0.313634,...,-0.939106,-0.232597,11.637622,10.912393,5.892857,115.559628,7.247982,101.867715,-0.309143,-0.844202
3,Stephan Lichtsteiner,0,0,1.025125,0.0,18.434919,-5.023790,0.683550,0.446052,-1.313634,...,0.310894,1.017403,12.387622,18.412393,-0.807143,42.559628,26.497982,84.367715,-0.309143,-0.844202
4,Stephan Lichtsteiner,0,0,-0.224875,0.0,24.184919,-7.523790,0.183550,1.196052,0.686366,...,2.060894,-0.232597,22.637622,22.912393,6.992857,179.559628,19.247982,49.867715,-0.309143,0.155798

In [189]:
FRA_obs=pd.read_csv('fbref_FRAobs_withname.csv')
FRA_y = pd.read_csv('fbref_FRAy_withname.csv')

In [190]:
FRA_obs.drop(columns=['Unnamed: 0'], inplace=True)

In [191]:
FRA_y.drop(columns=['Unnamed: 0'], inplace=True)

In [192]:
FRA_y.rename(columns={'0': 'label'}, inplace=True)

In [193]:
FRA_y['label']=FRA_y['label'].astype(int)

In [194]:
FRA_obs['label']=FRA_y['label']

In [198]:
len(FRA_obs)

6381

In [196]:
FRA_obs[numeric_columns] = FRA_obs[numeric_columns].apply(pd.to_numeric, errors='coerce')

In [197]:
FRA_obs.dropna(inplace=True)

In [199]:
FRA_obs[absolute_columns] = FRA_obs[absolute_columns].div(FRA_obs.Min/90, axis=0)

In [200]:
df_FRA = FRA_obs.merge(FRAaverage, left_on='name',right_on='name')

In [201]:
for col in numeric_columns[1:]:
    colx, coly= col+'_x', col+'_y'
    df_FRA[col]=df_FRA[colx]-df_FRA[coly]

In [202]:
FRA_Xy=df_FRA[col_list]

In [203]:
FRA_Xy.head()

,name,label,injured games,Sh,SoT,Touches,Press,Tkl,Int,Blocks,...,SCA,GCA,Cmp,Att,Cmp%,PrgDist,Carries,PrgDist.1,Succ,Att.1
0,Wesley Sneijder,0,4,-2.752941,-0.352941,-0.964706,-4.211765,-0.2,0.847059,0.847059,...,-2.105882,-0.2,6.435294,2.152941,6.8,-4.705882,-6.588235,13.388235,0.047059,-0.152941
1,Wesley Sneijder,0,4,1.188235,-1.411765,6.741176,-3.447059,0.8,-0.211765,-0.211765,...,1.776471,-0.2,0.141176,4.211765,-4.2,4.176471,-0.352941,18.152941,-1.011765,-0.211765
2,Wesley Sneijder,0,4,2.188235,2.588235,13.741176,-4.447059,-0.2,-0.211765,-0.211765,...,-0.223529,-0.2,5.141176,9.211765,-2.4,13.176471,9.647059,-16.847059,-1.011765,-1.211765
3,Wesley Sneijder,0,4,-0.811765,-1.411765,-29.258824,15.552941,-0.2,-0.211765,-0.211765,...,-1.223529,-0.2,-21.858824,-27.788235,-1.2,-117.823529,-17.352941,-28.847059,1.988235,1.788235
4,Wesley Sneijder,0,4,0.188235,0.588235,9.741176,-3.447059,-0.2,-0.211765,-0.211765,...,1.776471,0.8,10.141176,12.211765,1.0,105.176471,14.647059,14.152941,-0.011765,-0.211765

In [204]:
GER_obs=pd.read_csv('fbref_GERobs_withname.csv')
GER_y = pd.read_csv('fbref_GERy_withname.csv')

In [205]:
GER_obs.drop(columns=['Unnamed: 0'], inplace=True)

In [206]:
GER_y.drop(columns=['Unnamed: 0'], inplace=True)

In [207]:
GER_y.rename(columns={'0': 'label'}, inplace=True)

In [208]:
GER_y['label']=GER_y['label'].astype(int)

In [209]:
GER_obs['label']=GER_y['label']

In [220]:
len(GER_obs)

6338

In [211]:
GER_obs[numeric_columns] = GER_obs[numeric_columns].apply(pd.to_numeric, errors='coerce')

In [212]:
GER_obs.dropna(inplace=True)

In [213]:
GER_obs[absolute_columns] = GER_obs[absolute_columns].div(GER_obs.Min/90, axis=0)

In [214]:
df_GER = GER_obs.merge(GERaverage, left_on='name',right_on='name')

In [215]:
for col in numeric_columns[1:]:
    colx, coly= col+'_x', col+'_y'
    df_GER[col]=df_GER[colx]-df_GER[coly]

In [216]:
GER_Xy=df_GER[col_list]

In [217]:
GER_Xy.head()

,name,label,injured games,Sh,SoT,Touches,Press,Tkl,Int,Blocks,...,SCA,GCA,Cmp,Att,Cmp%,PrgDist,Carries,PrgDist.1,Succ,Att.1
0,Maximilian Eggestein,0,0,0.729905,0.578892,10.171192,-3.513853,1.094941,0.002689,-0.548063,...,1.484362,-0.181818,2.552850,5.419211,-2.321212,37.388004,13.612045,28.133631,-0.136717,0.077858
1,Maximilian Eggestein,0,0,-1.339061,-0.455590,-12.233526,-3.037446,1.544124,0.302145,-1.582545,...,-1.619086,-0.181818,-1.544246,-7.688774,17.178788,21.571307,-4.818082,95.688077,0.013011,-0.806897
2,Maximilian Eggestein,0,0,-1.339061,-0.455590,15.240158,-2.169025,-1.008507,0.933724,0.417455,...,0.380914,-0.181818,20.587333,17.074383,16.278788,168.939728,13.129286,8.030182,-1.171200,-1.991107
3,Maximilian Eggestein,0,0,0.660939,-0.455590,10.240158,-10.169025,-1.008507,-0.066276,-1.582545,...,0.380914,-0.181818,19.587333,18.074383,12.678788,109.939728,13.129286,90.030182,-0.171200,-0.991107
4,Maximilian Eggestein,0,0,-1.339061,-0.455590,-9.759842,-21.169025,-2.008507,5.933724,-1.582545,...,-1.619086,-0.181818,-14.412667,-8.925617,-27.921212,-74.060272,-10.870714,-74.969818,-1.171200,0.008893

In [218]:
all_obs=pd.concat([ENG_Xy,ESP_Xy,ITA_Xy,GER_Xy,FRA_Xy], ignore_index=True)

In [219]:
len(all_obs)

33900

In [223]:
all_obs.to_csv('allobservations.csv')

In [13]:
allobs = pd.read_csv('allobservations.csv').drop(columns=['Unnamed: 0'])

In [18]:
allobs[['name','label','injured games']].groupby('name').agg({'label': 'sum', 'injured games':'mean'})[['label','injured games']].corr()

                  label  injured games
label          1.000000       0.084372
injured games  0.084372       1.000000